<!DOCTYPE html>
<!--
Company:    Tokyo Boeki Techno-System de Mexico S.A. de C.V. 
Programmer: Alejandro Aguayo Acosta
-->
<html>
    <head>
        <title>VME-300M Series</title>
        <link rel="icon" href="../../../images/util/icono.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- JQuery -->
        <script src="../../../js/lib/jquery-3.2.1.min.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../../css/bootstrap.min.css">
        <script src="../../../js/lib/bootstrap.min.js"></script>
        
        <!-- SWEET ALERT -->
        <script src="../../../js/lib/sweetalert.min.js"></script>

        <!-- AngularJS libraries -->
        <script src="../../../js/lib/angular.min.js"></script>

        <!-- Controller -->
        <script src="../../../js/mainCtrl.js"></script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131182236-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131182236-1');
</script>

    </head>
    
    <body ng-app="miApp">
        <div ng-controller="mainCtrl"
             ng-init="relativeUrl = '../../../'; 
                        productImageSelected = '../../../images/pages/products/vectoron/vectoronVME300M_1.jpg';
                        getCurrentUrl();
                        brochureToDownload='EN_V7M';
                               ">
            
            <div class="container" >

                <!-- Header -->
                <div ng-include="'../../util/EN_header.html'"></div>
                
                <!-- MODAL PARA DESCARGAR BROCHURE-->
                <div ng-include=" '../../util/EN_modalDownloadBrochure.html' "></div>

                <!-- SPACE -->
                <div style="height: 4px; background-color: {{ ttsmGrayColor }};" ></div>
                <div style="height: 3px;"></div>

                <!-- ROUTE -->
                <a href="{{relativeUrl}}EN_index.php">HOME</a> / 
				<a href="{{relativeUrl}}html/products/EN_mainProducts.html">PRODUCTS</a> / 
				<a href="{{relativeUrl}}html/products/vectoron/EN_mainVectoron.html">VECTORON</a> / 
				<a href="">VME-300M Series</a>  

                <!-- Content -->
                <div class="row">
                    <div class="col-md-6">

                        <!--div ng-include=""></div-->

                        <!--img src="../../../images/pages/products/vectoron/vectoronV6MII_1.jpg" width="100%"-->
                        <img src="{{ productImageSelected }}" width="100%">
                        <div class="row" style="height: 10px;"></div>
                        <div class="row">
                            <table>
                                <tr>
                                    <td ng-click="productChangeImage( 'vectoronVME300M' , 1 )">
                                        <img src="../../../images/pages/products/vectoron/vectoronVME300M_1_thumb.jpg" width="100%">
                                    </td>
                                    <td ng-click="productChangeImage( 'vectoronVME300M' , 2 )">
                                        <img src="../../../images/pages/products/vectoron/vectoronVME300M_2_thumb.jpg" width="100%">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row" style="height: 10px;"></div>

                    </div>
                    <div class="col-md-6">
                        <div class="text-muted"><h1>VME-300M Series</h1></div>
                        <h3>Fast and Accurate</h3>
                        <p>
                            High-Speed and High-Resolution
                        </p>    
                        <h3>Portable System</h3>
                        <h3>Made in Japan</h3>
                        <h3>Easy to Calibrate</h3>
                        <p>
                            User Calibration provied
                        </p>
                        <h3>Contact and Non-Contact</h3>
                        <p>
                            Probe, RaptorEye, coming soon RaptorEye 2
                        </p>
                        <h3>Best service</h3>
                        <p>
                            No yearly hardware contract obligation Service & Support by Trained-Mexican Engineer
                        </p>
                        <h3>Customizable</h3>
                        <p>
                            Customized to meet user requirement
                        </p>
                        
                        <br>
                            <button class="btn btn-info" ng-click="showDownloadBrochureForm()" > Donwload Brochure </button>
                    </div>
                </div>

                <!-- ************************ Content Details ************************ -->
                <!-- DESCRIPTION -->
                <div ng-include="'../../util/EN_showDescriptionButton.html'"></div>

                <div class="row" ng-show="productsShowDescription">
                    <div class="col-md-12 img-rounded" style="color: {{ ttsmBlueColor }}; ">
                        <div style="height: 5px;"></div>
                        
                    </div>
                </div>

                <!-- TECHNICAL DATA -->
                <div ng-include="'../../util/EN_showTechnicalDataButton.html'"></div>

                <div class="row" ng-show="productsShowTechnicalData">
                    <div class="content">
                        <div class="col-md-12 img-rounded" style="color: {{ ttsmBlueColor }}; ">
                            <div style="height: 5px;"></div>
                            <h3>Specification:</h3>
                            <table class="table table-striped table-condensed">
                                <tr>
                                    <th>Arm measurement area</th>
                                    <td>Operation area 3,500 mm (Arm length 1,750mm)</td>
                                </tr>
                                <tr>
                                    <th>Weight</th>
                                    <td>10 kg</td>
                                </tr>
                                <tr>
                                    <th>Contact measurement accuracy 2σ</th>
                                    <td>0.08mm</td>
                                </tr>
                                <tr>
                                    <th>Non-Contact measure accuracy (RaptorEye)</th>
                                    <td>
                                        ±0.10mm
                                    </td>
                                </tr>
                                <tr>
                                    <th>Usage environment</th>
                                    <td>10°C ~ 40°C </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- INQUIRY -->
                <div ng-include="'../../util/EN_showInquiryButton.html'"></div>

                <div class="row" ng-show="productsShowInquiry">
                    <div ng-include="'../../../html/contact/EN_contactForm.html'"></div>
                </div>
            </div>

            <!-- footer -->
            <div ng-include="'../../util/EN_footer.html'"></div>
        </div>
    </body>
</html>