# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/nbproject/

# php folder, donde hay credenciales de la base de datos.
/php/
#/TTSM/system_v2/php/util/Constants.php

# system
/TTSM/

# Brochures
/brochures/
