# Project files
/nbproject/

# folders en hosting, donde hay credenciales de la base de datos, PDF, videos, etc
/brochures/
/css/
/fonts/
/images/
/js/languajes/
/js/lib/
/php/
/TTSM/notes/
/TTSM/system_v2/css/
/TTSM/system_v2/fonts/
/TTSM/system_v2/images/
/TTSM/system_v2/js/lib/
/TTSM/system_v2/php/util/