<div class="list-group">
    <!-- Solution Header -->
    <a class="list-group-item" 
       style="font-family: sans-serif;
                font-size: 16pt;
                ">Search by industry</a>
    
    <!-- Automobile -->
    <a ng-click="solutionIndustryShowSolution[ 1 ] = !solutionIndustryShowSolution[ 1 ]" 
       class="list-group-item"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       >{{ solutionIndustryArray[ 1 ].name }}</a>
    
    <!-- Automobile LIST -->
    <div ng-show="solutionIndustryShowSolution[ 1 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System -->
        <a href="./EN_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- Aerospace -->
    <a ng-click="solutionIndustryShowSolution[ 2 ] = !solutionIndustryShowSolution[ 2 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 2 ].name }}</a>
    
    <!-- Aerospace LIST -->
    <div ng-show="solutionIndustryShowSolution[ 2 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedManufacturingAndProduction.html" class="list-group-item">
            Automated manufacturing and production tracking solutions in the aerospace industry</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- Heavy Industries / Energy -->
    <a ng-click="solutionIndustryShowSolution[ 3 ] = !solutionIndustryShowSolution[ 3 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 3 ].name }}</a>
    
    <!-- Heavy Industries / Energy LIST -->
    <div ng-show="solutionIndustryShowSolution[ 3 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- "Vehicles / Agriculture / Railways" [ 4 ] -->
    <a ng-click="solutionIndustryShowSolution[ 4 ] = !solutionIndustryShowSolution[ 4 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 4 ].name }}</a>
    
    <!-- Vehicles / Agriculture / Railways LIST -->
    <div ng-show="solutionIndustryShowSolution[ 4 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- "Construction / Steel / Engineering" [ 5 ] -->
    <a ng-click="solutionIndustryShowSolution[ 5 ] = !solutionIndustryShowSolution[ 5 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 5 ].name }}</a>
    
    <!-- Construction / Steel / Engineering LIST -->
    <div ng-show="solutionIndustryShowSolution[ 5 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- "Casting and forging" [ 6 ] -->
    <a ng-click="solutionIndustryShowSolution[ 6 ] = !solutionIndustryShowSolution[ 6 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 6 ].name }}</a>
    
    <!-- Casting and forging LIST -->
    <div ng-show="solutionIndustryShowSolution[ 6 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
    </div>
    
    <!-- "Machine manufacturing / Robot" [ 7 ] -->
    <a ng-click="solutionIndustryShowSolution[ 7 ] = !solutionIndustryShowSolution[ 7 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 7 ].name }}</a>
    
    <!-- Machine manufacturing / Robot LIST -->
    <div ng-show="solutionIndustryShowSolution[ 7 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Assembly assist measuring solution (MAA assembly assist measurement system) -->
        <a href="./EN_AssemblyAssistMeasuringSolution.html" class="list-group-item">
            Assembly assist measuring solution (MAA assembly assist measurement system)</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- "IT / Home appliances" [ 8 ] -->
    <a ng-click="solutionIndustryShowSolution[ 8 ] = !solutionIndustryShowSolution[ 8 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 8 ].name }}</a>
    
    <!-- IT / Home appliances LIST -->
    <div ng-show="solutionIndustryShowSolution[ 8 ]">
        
        <!-- Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System -->
        <a href="./EN_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
    </div>
    
    <!-- "Other" [ 9 ] -->
    <a ng-click="solutionIndustryShowSolution[ 9 ] = !solutionIndustryShowSolution[ 9 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 9 ].name }}</a>
    
    <!-- Other LIST -->
    <div ng-show="solutionIndustryShowSolution[ 9 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
    </div>
    
  </div>