<div class="list-group">
    <!-- Solution Header -->
    <a class="list-group-item" 
       style="font-family: sans-serif;
                font-size: 16pt;
                ">Search by industry</a>
    
    <!-- Automobile -->
    <a ng-click="solutionIndustryShowSolution[ 1 ] = !solutionIndustryShowSolution[ 1 ]" 
       class="list-group-item"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       >{{ solutionIndustryArray[ 1 ].name }}</a>
    
    <!-- Automobile LIST -->
    <div ng-show="solutionIndustryShowSolution[ 1 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System -->
        <!--a href="./EN_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
        <!-- Automation of measurement work, data processing, and report creation by Vectoron -->
        <a href="./EN_AutomationOfMeasurementWork.html" class="list-group-item">
            Automation of measurement work, data processing, and report creation by Vectoron</a>
        
        <!-- Defective products prediction by gap & flush trend management -->
        <a href="./EN_DefectiveProductsPredictionBy.html" class="list-group-item">
            Defective products prediction by gap & flush trend management</a>
        
        <!-- Design model reverse solution -->
        <a href="./EN_DesignModelReverseSolution.html" class="list-group-item">
            Design model reverse solution</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
         
        <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a>
        
        <!-- Measuring solution (Vehicle white body inspection) BMW -->
        <a href="./EN_MeasuringSolutionVehicleWhite.html" class="list-group-item">
            Measuring solution (Vehicle white body inspection) BMW</a>
        
        <!-- Measuring the engine position and posture while moving -->
        <a href="./EN_MeasuringTheEnginePosition.html" class="list-group-item">
            Measuring the engine position and posture while moving</a>
        
        <!-- Measuring the wheel position and posture while moving -->
        <a href="./EN_MeasuringTheWheelPosition.html" class="list-group-item">
            Measuring the wheel position and posture while moving</a>
        
        <!-- Optimizing clamp work before the vehicle panel welding process -->
        <a href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
            Optimizing clamp work before the vehicle panel welding process</a>
        
        <!-- Optimizing parameters for push, bend and twist on bending machines -->
        <a href="./EN_OptimizingParametersForPush.html" class="list-group-item">
            Optimizing parameters for push, bend and twist on bending machines</a>
        
        <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
        
        <!-- Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering -->
        <!--a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering</a>
        
        <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
        
        <!-- Sheet metal distortion and sheet thickness analysis -->
        <a href="./EN_SheetMetalDistortionAnd.html" class="list-group-item">
            Sheet metal distortion and sheet thickness analysis</a>
        
        <!-- Verifying by comparing CAE results with the actual object -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verifying by comparing CAE results with the actual object</a>
        
        <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>

    </div>
    
    <!-- Aerospace -->
    <a ng-click="solutionIndustryShowSolution[ 2 ] = !solutionIndustryShowSolution[ 2 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 2 ].name }}</a>
    
    <!-- Aerospace LIST -->
    <div ng-show="solutionIndustryShowSolution[ 2 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedManufacturingAndProduction.html" class="list-group-item">
            Automated manufacturing and production tracking solutions in the aerospace industry</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
        <!-- Automation of measurement work, data processing, and report creation by Vectoron -->
        <a href="./EN_AutomationOfMeasurementWork.html" class="list-group-item">
            Automation of measurement work, data processing, and report creation by Vectoron</a>
        
        <!-- Defective products prediction by gap & flush trend management -->
        <a href="./EN_DefectiveProductsPredictionBy.html" class="list-group-item">
            Defective products prediction by gap & flush trend management</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
         
        <!-- Management and utilization of numerical and dimensional data of products in the aerospace industry -->
        <a href="./EN_ManagementAndUtilizationOf.html" class="list-group-item">
            Management and utilization of numerical and dimensional data of products in the aerospace industry</a>
        
        <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a>
        
        <!-- Optimizing parameters for push, bend and twist on bending machines -->
        <a href="./EN_OptimizingParametersForPush.html" class="list-group-item">
            Optimizing parameters for push, bend and twist on bending machines</a>
        
        <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
        
        <!-- Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering -->
        <!--a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering</a>
        
        <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
        
        <!-- Verifying by comparing CAE results with the actual object -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verifying by comparing CAE results with the actual object</a>
        
        <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
        
    </div>
    
    <!-- Heavy Industries / Energy -->
    <a ng-click="solutionIndustryShowSolution[ 3 ] = !solutionIndustryShowSolution[ 3 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 3 ].name }}</a>
    
    <!-- Heavy Industries / Energy LIST -->
    <div ng-show="solutionIndustryShowSolution[ 3 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
         
         <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a>
        
         <!-- Measuring solution (Housing inspection for hydroelectric generators) -->
        <a href="./EN_MeasuringSolutionHousingInspection.html" class="list-group-item">
            Measuring solution (Housing inspection for hydroelectric generators)</a>
         
         <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
         
         <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
         
         <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
         
    </div>
    
    <!-- "Vehicles / Agriculture / Railways" [ 4 ] -->
    <a ng-click="solutionIndustryShowSolution[ 4 ] = !solutionIndustryShowSolution[ 4 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 4 ].name }}</a>
    
    <!-- Vehicles / Agriculture / Railways LIST -->
    <div ng-show="solutionIndustryShowSolution[ 4 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
        <!-- Defective products prediction by gap & flush trend management -->
        <a href="./EN_DefectiveProductsPredictionBy.html" class="list-group-item">
            Defective products prediction by gap & flush trend management</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
        
        <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a>
        
        <!-- Measuring solution (supply, assembly and calibration of large machinery and similar equipment) -->
        <a href="./EN_MeasuringSolutionSupplyAssembly.html" class="list-group-item">
            Measuring solution (supply, assembly and calibration of large machinery and similar equipment)</a>
        
        <!-- Measuring the engine position and posture while moving -->
        <a href="./EN_MeasuringTheEnginePosition.html" class="list-group-item">
            Measuring the engine position and posture while moving</a>
        
        <!-- Optimizing clamp work before the vehicle panel welding process -->
        <a href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
            Optimizing clamp work before the vehicle panel welding process</a>
        
        <!-- Optimizing parameters for push, bend and twist on bending machines -->
        <a href="./EN_OptimizingParametersForPush.html" class="list-group-item">
            Optimizing parameters for push, bend and twist on bending machines</a>
        
        <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
        
        <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
        
        <!-- Verifying by comparing CAE results with the actual object -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verifying by comparing CAE results with the actual object</a>
        
        <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
        
    </div>
    
    <!-- "Construction / Steel / Engineering" [ 5 ] -->
    <a ng-click="solutionIndustryShowSolution[ 5 ] = !solutionIndustryShowSolution[ 5 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 5 ].name }}</a>
    
    <!-- Construction / Steel / Engineering LIST -->
    <div ng-show="solutionIndustryShowSolution[ 5 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
        <a href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Automated assembly of large parts (MAA Measurement Assisted Assembly)Real-Time Feedback</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
        
        <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a> 
         
        <!-- Measuring solution (Housing inspection for hydroelectric generators) -->
        <a href="./EN_MeasuringSolutionHousingInspection.html" class="list-group-item">
            Measuring solution (Housing inspection for hydroelectric generators)</a>
        
        <!-- Measuring solution (supply, assembly and calibration of large machinery and similar equipment) -->
        <a href="./EN_MeasuringSolutionSupplyAssembly.html" class="list-group-item">
            Measuring solution (supply, assembly and calibration of large machinery and similar equipment)</a>
        
        <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
        
        <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
        
        <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
        
    </div>
    
    <!-- "Casting and forging" [ 6 ] -->
    <a ng-click="solutionIndustryShowSolution[ 6 ] = !solutionIndustryShowSolution[ 6 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 6 ].name }}</a>
    
    <!-- Casting and forging LIST -->
    <div ng-show="solutionIndustryShowSolution[ 6 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Automation of measurement work, data processing, and report creation by Vectoron -->
        <a href="./EN_AutomationOfMeasurementWork.html" class="list-group-item">
            Automation of measurement work, data processing, and report creation by Vectoron</a>
        
        <!-- Digitization of quality inspection of metal casting products (paperless) -->
        <a href="./EN_DigitizationOfQualityInspection.html" class="list-group-item">
            Digitization of quality inspection of metal casting products (paperless)</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
        
        <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a> 
        
        <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
        
        <!-- Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering -->
        <!--a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering</a>
        
        <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
         
        <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
        
    </div>
    
    <!-- "Machine manufacturing / Robot" [ 7 ] -->
    <a ng-click="solutionIndustryShowSolution[ 7 ] = !solutionIndustryShowSolution[ 7 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 7 ].name }}</a>
    
    <!-- Machine manufacturing / Robot LIST -->
    <div ng-show="solutionIndustryShowSolution[ 7 ]">
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Assembly assist measuring solution (MAA assembly assist measurement system) -->
        <a href="./EN_AssemblyAssistMeasuringSolution.html" class="list-group-item">
            Assembly assist measuring solution (MAA assembly assist measurement system)</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
        <!-- Automatic measuring solution in processing machine (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionIn.html" class="list-group-item">
            Automatic measuring solution in processing machine (automatic probing &amp; scanning system)</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
        
         <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a>
         
         <!-- Optimizing clamp work before the vehicle panel welding process -->
        <a href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
            Optimizing clamp work before the vehicle panel welding process</a>
         
         <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
         
         <!-- Robot accuracy improvement solution / Robot calibration system -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Robot accuracy improvement solution / Robot calibration system</a>
         
         <!-- Verifying by comparing CAE results with the actual object -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verifying by comparing CAE results with the actual object</a>
        
         <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
         
    </div>
    
    <!-- "IT / Home appliances" [ 8 ] -->
    <a ng-click="solutionIndustryShowSolution[ 8 ] = !solutionIndustryShowSolution[ 8 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 8 ].name }}</a>
    
    <!-- IT / Home appliances LIST -->
    <div ng-show="solutionIndustryShowSolution[ 8 ]">
        
        <!-- Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System -->
        <!--a href="./EN_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System</a>
        
        <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Automatic measuring solution (automatic probing &amp; scanning system)</a>
        
        <!-- Automatic measuring solution in processing machine (automatic probing &amp; scanning system) -->
        <a href="./EN_AutomaticMeasuringSolutionIn.html" class="list-group-item">
            Automatic measuring solution in processing machine (automatic probing &amp; scanning system)</a>
        
         <!-- High precision mold copy solution -->
        <a href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
            High precision mold copy solution</a>
         
         <!-- Improving the quality of white goods (improving appearance defects) -->
        <a href="./EN_ImprovingTheQualityOf.html" class="list-group-item">
            Improving the quality of white goods (improving appearance defects)</a>
        
         <!-- Measuring dimensions of relatively large object -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Measuring dimensions of relatively large object</a>
         
         <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
         
         <!-- Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering -->
        <!--a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering</a>
         
         <!-- Verifying by comparing CAE results with the actual object -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verifying by comparing CAE results with the actual object</a>
         
    </div>
    
    <!-- "Other" [ 9 ] -->
    <a ng-click="solutionIndustryShowSolution[ 9 ] = !solutionIndustryShowSolution[ 9 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 9 ].name }}</a>
    
    <!-- Other LIST -->
    <div ng-show="solutionIndustryShowSolution[ 9 ]">
        
        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
        <a href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            ＜3D-magic REGALIS＞Software that anybody can use.</a>
        
        <!-- Alignment of large objects such as airplane doors -->
        <a href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
            Alignment of large objects such as airplane doors</a>
        
        <!-- Improving product quality and production efficiency at medical device manufacturers -->
        <a href="./EN_ImprovingProductQualityAnd.html" class="list-group-item">
            Improving product quality and production efficiency at medical device manufacturers</a>
        
        <!-- Posture measurement/positioning of unit such as a robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Posture measurement/positioning of unit such as a robot</a>
        
        <!-- Virtual Assembly -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Virtual Assembly</a>
        
    </div>
    
  </div>