<div class="list-group">
    <!-- Solution Header -->
    <a class="list-group-item" 
       style="font-family: sans-serif;
                font-size: 16pt;
                ">Search by industry</a>
    
    <!-- Automobile -->
    <a ng-click="solutionIndustryShowSolution[ 0 ] = !solutionIndustryShowSolution[ 0 ]" 
       class="list-group-item"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       >{{ solutionIndustryArray[ 1 ].name }} - AQUI ESTA TODO</a>
    
                <!-- Alignment of large objects such as airplane doors -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AlignmentOfLargeObjects.html" class="list-group-item">
                    Alignment of large objects such as airplane doors</a>

                <!-- Automatic measuring solution (automatic probing &amp; scanning system) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
                    Automatic measuring solution (automatic probing &amp; scanning system)</a>

                <!-- Measuring dimensions of relatively large object -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
                    Measuring dimensions of relatively large object</a>

                <!-- Measuring solution (Vehicle white body inspection) BMW -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_MeasuringSolutionVehicleWhite.html" class="list-group-item">
                    Measuring solution (Vehicle white body inspection) BMW</a>

                <!-- Measuring the engine position and posture while moving -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_MeasuringTheEnginePosition.html" class="list-group-item">
                    Measuring the engine position and posture while moving</a>

                        <!-- Measuring the wheel position and posture while moving -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_MeasuringTheWheelPosition.html" class="list-group-item">
                    Measuring the wheel position and posture while moving</a>

                        <!-- Optimizing clamp work before the vehicle panel welding process -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
                    Optimizing clamp work before the vehicle panel welding process</a>

                        <!-- Optimizing parameters for push, bend and twist on bending machines -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_OptimizingParametersForPush.html" class="list-group-item">
                    Optimizing parameters for push, bend and twist on bending machines</a>

                        <!-- Robot accuracy improvement solution / Robot calibration system -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
                    Robot accuracy improvement solution / Robot calibration system</a>

                        <!-- Sheet metal distortion and sheet thickness analysis -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_SheetMetalDistortionAnd.html" class="list-group-item">
                    Sheet metal distortion and sheet thickness analysis</a>

                        <!-- Verifying by comparing CAE results with the actual object -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
                    Verifying by comparing CAE results with the actual object</a>

                        <!-- High precision mold copy solution -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_HighPrecisionMoldCopy.html" class="list-group-item">
                    High precision mold copy solution</a>

                        <!-- Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AutomatedMeasurementAndInspection.html" class="list-group-item">
                    Automated Measurement and Inspection Solution  Zeiss COMET Automatic Measurement System</a>

                        <!-- Automation of measurement work, data processing, and report creation by Vectoron -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AutomationOfMeasurementWork.html" class="list-group-item">
                    Automation of measurement work, data processing, and report creation by Vectoron</a>

                        <!-- Defective products prediction by gap &amp; flush trend management -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_DefectiveProductsPredictionBy.html" class="list-group-item">
                    Defective products prediction by gap &amp; flush trend management</a>

                        <!-- Design model reverse solution -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_DesignModelReverseSolution.html" class="list-group-item">
                    Design model reverse solution</a>

                        <!-- Virtual Assembly -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_VirtualAssembly.html" class="list-group-item">
                    Virtual Assembly</a>

                        <!-- ＜3D-magic REGALIS＞Software that anybody can use. -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
                    ＜3D-magic REGALIS＞Software that anybody can use.</a>

                        <!-- Posture measurement/positioning of unit such as a robot -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
                    Posture measurement/positioning of unit such as a robot</a>

                        <!-- Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
                    Quality evaluation of 3D additive manufacturing products and 3D model manufacturing by reverse engineering</a>

                        <!-- Automated manufacturing and production tracking solutions in the aerospace industry -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AutomatedManufacturingAndProduction.html" class="list-group-item">
                    Automated manufacturing and production tracking solutions in the aerospace industry</a>

                        <!-- Improve product quality and production efficiency of jet engines -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_ImproveProductQualityAnd.html" class="list-group-item">
                    Improve product quality and production efficiency of jet engines</a>

                        <!-- Management and utilization of numerical and dimensional data of products in the aerospace industry -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_ManagementAndUtilizationOf.html" class="list-group-item">
                    Management and utilization of numerical and dimensional data of products in the aerospace industry</a>

                        <!-- Automated assembly of large parts　MAA（Measurement Assisted Assembly）Real-Time Feedback -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AutomatedAssemblyOfLarge.html" class="list-group-item">
                    Automated assembly of large parts　MAA（Measurement Assisted Assembly）Real-Time Feedback</a>

                        <!-- Measuring solution (Housing inspection for hydroelectric generators) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_MeasuringSolutionHousingInspection.html" class="list-group-item">
                    Measuring solution (Housing inspection for hydroelectric generators)</a>

                        <!-- Measuring solution (supply, assembly and calibration of large machinery and similar equipment) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_MeasuringSolutionSupplyAssembly.html" class="list-group-item">
                    Measuring solution (supply, assembly and calibration of large machinery and similar equipment)</a>

                        <!-- Digitization of quality inspection of metal casting products (paperless) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_DigitizationOfQualityInspection.html" class="list-group-item">
                    Digitization of quality inspection of metal casting products (paperless)</a>

                        <!-- Assembly assist measuring solution (MAA assembly assist measurement system) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AssemblyAssistMeasuringSolution.html" class="list-group-item">
                    Assembly assist measuring solution (MAA assembly assist measurement system)</a>

                        <!-- Automatic measuring solution in processing machine (automatic probing &amp; scanning system) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_AutomaticMeasuringSolutionIn.html" class="list-group-item">
                    Automatic measuring solution in processing machine (automatic probing &amp; scanning system)</a>

                        <!-- Improving the quality of white goods (improving appearance defects) -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_ImprovingTheQualityOf.html" class="list-group-item">
                    Improving the quality of white goods (improving appearance defects)</a>

                        <!-- Improving product quality and production efficiency at medical device manufacturers -->
                <a ng-show="solutionIndustryShowSolution[ 0 ]" 
                   href="./EN_ImprovingProductQualityAnd.html" class="list-group-item">
                    Improving product quality and production efficiency at medical device manufacturers</a>


    
    <!-- Aerospace -->
    <a ng-click="solutionIndustryShowSolution[ 1 ] = !solutionIndustryShowSolution[ 1 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 2 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 3 ] -->
    <a ng-click="solutionIndustryShowSolution[ 3 ] = !solutionIndustryShowSolution[ 3 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 3 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 4 ] -->
    <a ng-click="solutionIndustryShowSolution[ 4 ] = !solutionIndustryShowSolution[ 4 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 4 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 5 ] -->
    <a ng-click="solutionIndustryShowSolution[ 5 ] = !solutionIndustryShowSolution[ 5 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 5 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 6 ] -->
    <a ng-click="solutionIndustryShowSolution[ 6 ] = !solutionIndustryShowSolution[ 6 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 6 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 7 ] -->
    <a ng-click="solutionIndustryShowSolution[ 7 ] = !solutionIndustryShowSolution[ 7 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 7 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 8 ] -->
    <a ng-click="solutionIndustryShowSolution[ 8 ] = !solutionIndustryShowSolution[ 8 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 8 ].name }}</a>
    
    <!-- solutionIndustryShowSolution[ 9 ] -->
    <a ng-click="solutionIndustryShowSolution[ 9 ] = !solutionIndustryShowSolution[ 9 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 9 ].name }}</a>
    
    
  </div>