<div class="list-group">
    <!-- Solution Header -->
    <a class="list-group-item" 
       style="font-family: sans-serif;
                font-size: 16pt;
                ">Search by industry</a>
    
    <!-- Automobile -->
    <a ng-click="solutionIndustryShowSolution[ 1 ] = !solutionIndustryShowSolution[ 1 ]" 
       class="list-group-item"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       >{{ solutionIndustryArray[ 1 ].name }}</a>
    
    <!-- Automobile LIST -->
    <div ng-show="solutionIndustryShowSolution[ 1 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss -->
        <a href="./ES_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron -->
        <a href="./ES_AutomationOfMeasurementWork.html" class="list-group-item">
            Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron</a>
        
        <!-- Predicción de productos defectuosos por gestión de tendencias de gap & flush -->
        <a href="./ES_DefectiveProductsPredictionBy.html" class="list-group-item">
            Predicción de productos defectuosos por gestión de tendencias de gap & flush</a>
        
        <!-- Diseño modelo solución inversa -->
        <a href="./ES_DesignModelReverseSolution.html" class="list-group-item">
            Diseño modelo solución inversa</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- Aerospace -->
    <a ng-click="solutionIndustryShowSolution[ 2 ] = !solutionIndustryShowSolution[ 2 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 2 ].name }}</a>
    
    <!-- Aerospace LIST -->
    <div ng-show="solutionIndustryShowSolution[ 2 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedManufacturingAndProduction.html" class="list-group-item">
            Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron -->
        <a href="./ES_AutomationOfMeasurementWork.html" class="list-group-item">
            Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron</a>
        
        <!-- Predicción de productos defectuosos por gestión de tendencias de gap & flush -->
        <a href="./ES_DefectiveProductsPredictionBy.html" class="list-group-item">
            Predicción de productos defectuosos por gestión de tendencias de gap & flush</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- Heavy Industries / Energy -->
    <a ng-click="solutionIndustryShowSolution[ 3 ] = !solutionIndustryShowSolution[ 3 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 3 ].name }}</a>
    
    <!-- Heavy Industries / Energy LIST -->
    <div ng-show="solutionIndustryShowSolution[ 3 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- "Vehicles / Agriculture / Railways" [ 4 ] -->
    <a ng-click="solutionIndustryShowSolution[ 4 ] = !solutionIndustryShowSolution[ 4 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 4 ].name }}</a>
    
    <!-- Vehicles / Agriculture / Railways LIST -->
    <div ng-show="solutionIndustryShowSolution[ 4 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Predicción de productos defectuosos por gestión de tendencias de gap & flush -->
        <a href="./ES_DefectiveProductsPredictionBy.html" class="list-group-item">
            Predicción de productos defectuosos por gestión de tendencias de gap & flush</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- "Construction / Steel / Engineering" [ 5 ] -->
    <a ng-click="solutionIndustryShowSolution[ 5 ] = !solutionIndustryShowSolution[ 5 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 5 ].name }}</a>
    
    <!-- Construction / Steel / Engineering LIST -->
    <div ng-show="solutionIndustryShowSolution[ 5 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- "Casting and forging" [ 6 ] -->
    <a ng-click="solutionIndustryShowSolution[ 6 ] = !solutionIndustryShowSolution[ 6 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 6 ].name }}</a>
    
    <!-- Casting and forging LIST -->
    <div ng-show="solutionIndustryShowSolution[ 6 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron -->
        <a href="./ES_AutomationOfMeasurementWork.html" class="list-group-item">
            Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron</a>
        
        <!-- Digitalización de inspección de calidad de productos de fundición de metales (sin papel) -->
        <a href="./ES_DigitizationOfQualityInspection.html" class="list-group-item">
            Digitalización de inspección de calidad de productos de fundición de metales (sin papel)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- "Machine manufacturing / Robot" [ 7 ] -->
    <a ng-click="solutionIndustryShowSolution[ 7 ] = !solutionIndustryShowSolution[ 7 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 7 ].name }}</a>
    
    <!-- Machine manufacturing / Robot LIST -->
    <div ng-show="solutionIndustryShowSolution[ 7 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Solución de medición de asistencia de ensamblaje (sistema de medición de asistencia de ensamblaje MAA) -->
        <a href="./ES_AssemblyAssistMeasuringSolution.html" class="list-group-item">
            Solución de medición de asistencia de ensamblaje (sistema de medición de asistencia de ensamblaje MAA)</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionIn.html" class="list-group-item">
            Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- "IT / Home appliances" [ 8 ] -->
    <a ng-click="solutionIndustryShowSolution[ 8 ] = !solutionIndustryShowSolution[ 8 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 8 ].name }}</a>
    
    <!-- IT / Home appliances LIST -->
    <div ng-show="solutionIndustryShowSolution[ 8 ]">
        
        <!-- Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss -->
        <a href="./ES_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionIn.html" class="list-group-item">
            Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
    </div>
    
    <!-- "Other" [ 9 ] -->
    <a ng-click="solutionIndustryShowSolution[ 9 ] = !solutionIndustryShowSolution[ 9 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 9 ].name }}</a>
    
    <!-- Other LIST -->
    <div ng-show="solutionIndustryShowSolution[ 9 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
    </div>
    
  </div>