<div class="list-group">
    <!-- Solution Header -->
    <a class="list-group-item" 
       style="font-family: sans-serif;
                font-size: 16pt;
                ">Search by industry</a>
    
    <!-- Automobile -->
    <a ng-click="solutionIndustryShowSolution[ 1 ] = !solutionIndustryShowSolution[ 1 ]" 
       class="list-group-item"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       >{{ solutionIndustryArray[ 1 ].name }}</a>
    
    <!-- Automobile LIST -->
    <div ng-show="solutionIndustryShowSolution[ 1 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss -->
        <a href="./ES_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron -->
        <a href="./ES_AutomationOfMeasurementWork.html" class="list-group-item">
            Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron</a>
        
        <!-- Predicción de productos defectuosos por gestión de tendencias de gap & flush -->
        <a href="./ES_DefectiveProductsPredictionBy.html" class="list-group-item">
            Predicción de productos defectuosos por gestión de tendencias de gap & flush</a>
        
        <!-- Diseño modelo solución inversa -->
        <a href="./ES_DesignModelReverseSolution.html" class="list-group-item">
            Diseño modelo solución inversa</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Solución de medición (inspección de carrocería blanca del vehículo) BMW -->
        <a href="./EN_MeasuringSolutionVehicleWhite.html" class="list-group-item">
            Solución de medición (inspección de carrocería blanca del vehículo) BMW</a>
        
        <!-- Medición de la posición y postura del motor mientras se mueve -->
        <a href="./EN_MeasuringTheEnginePosition.html" class="list-group-item">
            Medición de la posición y postura del motor mientras se mueve</a>
        
        <!-- Medición de la posición y la postura de la rueda mientras se mueve -->
        <a href="./EN_MeasuringTheWheelPosition.html" class="list-group-item">
            Medición de la posición y la postura de la rueda mientras se mueve</a>
        
        <!-- Optimización del trabajo de sujeción antes del proceso de soldadura del panel del vehículo -->
        <a href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
            Optimización del trabajo de sujeción antes del proceso de soldadura del panel del vehículo</a>
        
        <!-- Optimización de parámetros para empujar, doblar y torcer en máquinas dobladoras -->
        <a href="./EN_OptimizingParametersForPush.html" class="list-group-item">
            Optimización de parámetros para empujar, doblar y torcer en máquinas dobladoras</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa -->
        <a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Distorsión de chapa y análisis de espesor de chapa -->
        <a href="./EN_SheetMetalDistortionAnd.html" class="list-group-item">
            Distorsión de chapa y análisis de espesor de chapa</a>
        
        <!-- Verificación comparando los resultados de CAE con el objeto real -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verificación comparando los resultados de CAE con el objeto real</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- Aerospace -->
    <a ng-click="solutionIndustryShowSolution[ 2 ] = !solutionIndustryShowSolution[ 2 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 2 ].name }}</a>
    
    <!-- Aerospace LIST -->
    <div ng-show="solutionIndustryShowSolution[ 2 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedManufacturingAndProduction.html" class="list-group-item">
            Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron -->
        <a href="./ES_AutomationOfMeasurementWork.html" class="list-group-item">
            Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron</a>
        
        <!-- Predicción de productos defectuosos por gestión de tendencias de gap & flush -->
        <a href="./ES_DefectiveProductsPredictionBy.html" class="list-group-item">
            Predicción de productos defectuosos por gestión de tendencias de gap & flush</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Gestión y utilización de datos numéricos y dimensionales de productos en la industria aeroespacial. -->
        <a href="./EN_ManagementAndUtilizationOf.html" class="list-group-item">
            Gestión y utilización de datos numéricos y dimensionales de productos en la industria aeroespacial.</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Optimización de parámetros para empujar, doblar y torcer en máquinas dobladoras -->
        <a href="./EN_OptimizingParametersForPush.html" class="list-group-item">
            Optimización de parámetros para empujar, doblar y torcer en máquinas dobladoras</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa -->
        <a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Verificación comparando los resultados de CAE con el objeto real -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verificación comparando los resultados de CAE con el objeto real</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- Heavy Industries / Energy -->
    <a ng-click="solutionIndustryShowSolution[ 3 ] = !solutionIndustryShowSolution[ 3 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 3 ].name }}</a>
    
    <!-- Heavy Industries / Energy LIST -->
    <div ng-show="solutionIndustryShowSolution[ 3 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Solución de medición (inspección de viviendas para generadores hidroeléctricos) -->
        <a href="./EN_MeasuringSolutionHousingInspection.html" class="list-group-item">
            Solución de medición (inspección de viviendas para generadores hidroeléctricos)</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- "Vehicles / Agriculture / Railways" [ 4 ] -->
    <a ng-click="solutionIndustryShowSolution[ 4 ] = !solutionIndustryShowSolution[ 4 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 4 ].name }}</a>
    
    <!-- Vehicles / Agriculture / Railways LIST -->
    <div ng-show="solutionIndustryShowSolution[ 4 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Predicción de productos defectuosos por gestión de tendencias de gap & flush -->
        <a href="./ES_DefectiveProductsPredictionBy.html" class="list-group-item">
            Predicción de productos defectuosos por gestión de tendencias de gap & flush</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Solución de medición (suministro, montaje y calibración de maquinaria grande y equipos similares) -->
        <a href="./EN_MeasuringSolutionSupplyAssembly.html" class="list-group-item">
            Solución de medición (suministro, montaje y calibración de maquinaria grande y equipos similares)</a>
        
        <!-- Medición de la posición y postura del motor mientras se mueve -->
        <a href="./EN_MeasuringTheEnginePosition.html" class="list-group-item">
            Medición de la posición y postura del motor mientras se mueve</a>
        
        <!-- Optimización del trabajo de sujeción antes del proceso de soldadura del panel del vehículo -->
        <a href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
            Optimización del trabajo de sujeción antes del proceso de soldadura del panel del vehículo</a>
        
        <!-- Optimización de parámetros para empujar, doblar y torcer en máquinas dobladoras -->
        <a href="./EN_OptimizingParametersForPush.html" class="list-group-item">
            Optimización de parámetros para empujar, doblar y torcer en máquinas dobladoras</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Verificación comparando los resultados de CAE con el objeto real -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verificación comparando los resultados de CAE con el objeto real</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- "Construction / Steel / Engineering" [ 5 ] -->
    <a ng-click="solutionIndustryShowSolution[ 5 ] = !solutionIndustryShowSolution[ 5 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 5 ].name }}</a>
    
    <!-- Construction / Steel / Engineering LIST -->
    <div ng-show="solutionIndustryShowSolution[ 5 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Soluciones automatizadas de fabricación y seguimiento de la producción en la industria aeroespacial -->
        <a href="./ES_AutomatedAssemblyOfLarge.html" class="list-group-item">
            Ensamblaje automatizado de piezas grandes MAA Assembly Ensamblaje asistido por medición Feedback Retroalimentación en tiempo real</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Solución de medición (inspección de viviendas para generadores hidroeléctricos) -->
        <a href="./EN_MeasuringSolutionHousingInspection.html" class="list-group-item">
            Solución de medición (inspección de viviendas para generadores hidroeléctricos)</a>
        
        <!-- Solución de medición (suministro, montaje y calibración de maquinaria grande y equipos similares) -->
        <a href="./EN_MeasuringSolutionSupplyAssembly.html" class="list-group-item">
            Solución de medición (suministro, montaje y calibración de maquinaria grande y equipos similares)</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- "Casting and forging" [ 6 ] -->
    <a ng-click="solutionIndustryShowSolution[ 6 ] = !solutionIndustryShowSolution[ 6 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 6 ].name }}</a>
    
    <!-- Casting and forging LIST -->
    <div ng-show="solutionIndustryShowSolution[ 6 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron -->
        <a href="./ES_AutomationOfMeasurementWork.html" class="list-group-item">
            Automatización del trabajo de medición, procesamiento de datos y creación de informes por Vectoron</a>
        
        <!-- Digitalización de inspección de calidad de productos de fundición de metales (sin papel) -->
        <a href="./ES_DigitizationOfQualityInspection.html" class="list-group-item">
            Digitalización de inspección de calidad de productos de fundición de metales (sin papel)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa -->
        <a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- "Machine manufacturing / Robot" [ 7 ] -->
    <a ng-click="solutionIndustryShowSolution[ 7 ] = !solutionIndustryShowSolution[ 7 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 7 ].name }}</a>
    
    <!-- Machine manufacturing / Robot LIST -->
    <div ng-show="solutionIndustryShowSolution[ 7 ]">
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Solución de medición de asistencia de ensamblaje (sistema de medición de asistencia de ensamblaje MAA) -->
        <a href="./ES_AssemblyAssistMeasuringSolution.html" class="list-group-item">
            Solución de medición de asistencia de ensamblaje (sistema de medición de asistencia de ensamblaje MAA)</a>
        
        <!-- Solución de medición automática (sistema automático de sonda y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionAutomatic.html" class="list-group-item">
            Solución de medición automática (sistema automático de sonda y escaneo)</a>
        
        <!-- Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionIn.html" class="list-group-item">
            Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Optimización del trabajo de sujeción antes del proceso de soldadura del panel del vehículo -->
        <a href="./EN_OptimizingClampWorkBefore.html" class="list-group-item">
            Optimización del trabajo de sujeción antes del proceso de soldadura del panel del vehículo</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Solución de mejora de precisión del robot / sistema de calibración del robot -->
        <a href="./EN_RobotAccuracyImprovementSolution.html" class="list-group-item">
            Solución de mejora de precisión del robot / sistema de calibración del robot</a>
        
        <!-- Verificación comparando los resultados de CAE con el objeto real -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verificación comparando los resultados de CAE con el objeto real</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
    <!-- "IT / Home appliances" [ 8 ] -->
    <a ng-click="solutionIndustryShowSolution[ 8 ] = !solutionIndustryShowSolution[ 8 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 8 ].name }}</a>
    
    <!-- IT / Home appliances LIST -->
    <div ng-show="solutionIndustryShowSolution[ 8 ]">
        
        <!-- Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss -->
        <a href="./ES_AutomatedMeasurementAndInspection.html" class="list-group-item">
            Solución de medición e inspección automatizada Sistema de medición automótica COMET de Zeiss</a>
        
        <!-- Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo) -->
        <a href="./ES_AutomaticMeasuringSolutionIn.html" class="list-group-item">
            Solución de medición automática en la máquina de procesamiento (sistema automático de sondeo y escaneo)</a>
        
        <!-- Solución de copia de moldes de alta precisión -->
        <a href="./ES_HighPrecisionMoldCopy.html" class="list-group-item">
            Solución de copia de moldes de alta precisión</a>
        
        <!-- Mejora de la calidad de los electrodomésticos (mejora de los defectos de apariencia) -->
        <a href="./ES_ImprovingTheQualityOf.html" class="list-group-item">
            Mejora de la calidad de los electrodomésticos (mejora de los defectos de apariencia)</a>
        
        <!-- Medición de dimensiones de objetos relativamente grandes -->
        <a href="./EN_MeasuringDimensionsOfRelatively.html" class="list-group-item">
            Medición de dimensiones de objetos relativamente grandes</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa -->
        <a href="./EN_QualityEvaluationOf3D.html" class="list-group-item">
            Evaluación de calidad de productos de fabricación aditiva 3D y fabricación de modelos 3D por ingeniería inversa</a>
        
        <!-- Verificación comparando los resultados de CAE con el objeto real -->
        <a href="./EN_VerifyingByComparingCAE.html" class="list-group-item">
            Verificación comparando los resultados de CAE con el objeto real</a>
        
    </div>
    
    <!-- "Other" [ 9 ] -->
    <a ng-click="solutionIndustryShowSolution[ 9 ] = !solutionIndustryShowSolution[ 9 ]"
       style="background-color: {{ ttsmBlueColor }}; color : white; text-align: right"
       class="list-group-item"
       >{{ solutionIndustryArray[ 9 ].name }}</a>
    
    <!-- Other LIST -->
    <div ng-show="solutionIndustryShowSolution[ 9 ]">
        
        <!-- <3D-magic REGALIS> Software que cualquiera puede usar. -->
        <a href="./ES_3DmagicREGALISSoftwareThatAnybody.html" class="list-group-item">
            <3D-magic REGALIS> Software que cualquiera puede usar.</a>
        
        <!-- Alineación de objetos grandes como puertas de aviones. -->
        <a href="./ES_AlignmentOfLargeObjects.html" class="list-group-item">
            Alineación de objetos grandes como puertas de aviones.</a>
        
        <!-- Mejora de la calidad del producto y la eficiencia de producción en los fabricantes de dispositivos médicos. -->
        <a href="./ES_ImprovingProductQualityAnd.html" class="list-group-item">
            Mejora de la calidad del producto y la eficiencia de producción en los fabricantes de dispositivos médicos.</a>
        
        <!-- Medición de la postura / posicionamiento de la unidad, como un robot -->
        <a href="./EN_PostureMeasurementpositioningOfUnit.html" class="list-group-item">
            Medición de la postura / posicionamiento de la unidad, como un robot</a>
        
        <!-- Ensamblado Virtual -->
        <a href="./EN_VirtualAssembly.html" class="list-group-item">
            Ensamblado Virtual</a>
        
    </div>
    
  </div>