<!DOCTYPE html>
<!--
Company:    Tokyo Boeki Techno-System de Mexico S.A. de C.V. 
Programmer: Alejandro Aguayo Acosta
-->
<html>
    <head>
        <title>FLARE</title>
        <link rel="icon" href="../../../images/util/icono.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- JQuery -->
        <script src="../../../js/lib/jquery-3.2.1.min.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../../css/bootstrap.min.css">
        <script src="../../../js/lib/bootstrap.min.js"></script>
        
        <!-- SWEET ALERT -->
        <script src="../../../js/lib/sweetalert.min.js"></script>

        <!-- AngularJS libraries -->
        <script src="../../../js/lib/angular.min.js"></script>

        <!-- Controller -->
        <script src="../../../js/mainCtrl.js"></script>
        
                <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131182236-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131182236-1');
</script>

    </head>
    
    <body ng-app="miApp">
        <div ng-controller="mainCtrl"
             ng-init="relativeUrl = '../../../'; 
                        productImageSelected = '../../../images/pages/products/camera/flare_1.jpg';
                        getCurrentUrl();
                        brochureToDownload='ES_FLARE';
                               ">
            <div class="container">
            
                <!-- Header -->
                <div ng-include="'../../util/ES_header.html'"></div>
                
                <!-- MODAL PARA DESCARGAR BROCHURE-->
                <div ng-include=" '../../util/ES_modalDownloadBrochure.html' "></div>

                <!-- SPACE -->
                <div style="height: 4px; background-color: {{ ttsmGrayColor }};" ></div>
                <div style="height: 3px;"></div>

                <!-- ROUTE -->
                <a href="{{relativeUrl}}ES_index.php">INICIO</a> / 
                <a href="{{relativeUrl}}html/products/ES_mainProducts.html">PRODUCTOS</a> / 
                <a href="{{relativeUrl}}html/products/camera/ES_mainCamera.html">CAMARA</a> / 
                <a href="">FLARE</a>  

                <!-- Content -->
                <div class="row">
                    <div class="col-md-6">

                        <!-- IMAGEN -->
                        <img src="{{ productImageSelected }}" width="100%">
                        <div class="row" style="height: 10px;"></div>
                        
                        <!-- thumbs abajo de IMAGEN -->
                        <div class="row">
                            <table>
                                <tr>
                                    <td ng-click="productChangeImage( 'flare' , 1 )">
                                        <img src="../../../images/pages/products/camera/flare_1_thumb.jpg" width="100%">
                                    </td>
                                    <td ng-click="productChangeImage( 'flare' , 2 )">
                                        <img src="../../../images/pages/products/camera/flare_2_thumb.jpg" width="100%">
                                    </td>
                                    <td ng-click="productChangeImage( 'flare' , 3 )">
                                        <img src="../../../images/pages/products/camera/flare_3_thumb.jpg" width="100%">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="row" style="height: 10px;"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-muted"><h1>FLARE</h1></div>
                        <p>
                            Un escáner 3D sin contacto que puede adquirir fácil y rápidamente datos 3D de alta precisión.
                            
                            <br> <br> <strong> ALTA POTENCIA LUMINOSA Y TECNOLOGÍA ILC 3D INTELIGENTE </strong> 
                            <br> <br> ・ El sistema FLARE es un escáner 3D sin contacto para productos industriales. La forma de la superficie se puede convertir en datos 3D rápidamente con alta precisión, sin tocar el objeto a medir. Al utilizar estos datos 3D, es posible resolver varios problemas en el proceso de producción, como el desarrollo de prototipos y el control de calidad, y mejorar la productividad de la fabricación de los clientes.
                            <br> <br> ・ Simplemente colocando el objeto a medir en una mesa giratoria dedicada, la medición se puede iniciar fácilmente, y es posible realizar mediciones de alta calidad y alta precisión sin depender de la habilidad del medidor.
                            <br> <br> ・ Los modelos del sistema FLARE están disponibles, por lo que podemos proponer soluciones que satisfagan los requisitos de los clientes. 
                        <br>
                            <!--button class="btn btn-info" ng-click="showDownloadBrochureForm()" > Donwload Brochure </button-->
                    </div>
                </div>

                <!-- ************************ Content Details ************************ -->
                <!-- DESCRIPTION -->
                <div ng-include="'../../util/ES_showDescriptionButton.html'"></div>

                <div class="row" ng-show="productsShowDescription">
                    <div class="col-md-12 img-rounded" style="color: {{ ttsmBlueColor }}; ">
                        <div style="height: 5px;"></div>

                        <div class="row">
                            <div class="col-md-12">
                                
                                <h3> Funciones del producto </h3>
                                
                                <p>
                                    <strong> 1. Medición sencilla sin marcadores </strong> <br>
                                    ： Se pueden combinar múltiples datos de medición sin marcadores, eliminando la necesidad de trabajos de colocación / extracción de marcadores problemáticos.
                                    
                                    <br> <br> <strong> 2. Reproducibilidad de formas </strong> <br>
                                    ： Mide pequeñas irregularidades de la superficie, detecta con precisión las anomalías de la superficie y es útil para la detección temprana de defectos.
                                    
                                    <br> <br> <strong> 3. Procesamiento de datos de alta velocidad </strong> <br>
                                    ： La conversión poligonal de los datos de medición se puede procesar en poco tiempo.
                                    
                                    <br> <br> <strong> 4. Garantía de precisión combinada </strong> <br>
                                    ： Es posible la garantía de precisión combinada de acuerdo con la directriz VDI / VDE 2634 Parte 3 con prueba de distancia de esfera.
                                    
                                    <br> <br> <strong> 5. Configuración de lentes para todo tipo de situaciones </strong> <br>
                                    ： Ofrecemos una amplia gama de lentes con todas las series para diferentes medidas de FOV
                                    
                                    <br> <br> <strong> 6. Medición de la sonda </strong> <br>
                                    ： La herramienta de sonda permite una medición profunda, que es un punto ciego en el sistema óptico.
                                    
                                    <br> <br> <strong> 7. Proyección trasera </strong> <br>
                                    ： Puede verificar directamente el resultado de la inspección proyectando los datos medidos / inspeccionados en el objeto.
                                    
                                    <br> <br> <strong> 8. Mapeo de texturas </strong> <br>
                                    ： Es posible la gestión a todo color con datos poligonales.
                                    
                                    <br> <br> <strong> 9. Seguimiento de objetivos </strong> <br>
                                    ： Rastrea la información de la posición del objetivo con dos cámaras.
                                </p> 
                                
                                <img src="../../../images/pages/products/camera/flare_3.png">
                                
                                <h3> Aplicación </h3>
                                
                                <p>
                                    <strong> 1. Reducción de horas-hombre para juicio de calidad y reducción de costos en procesos de producción de prueba y producción en masa </strong> <br>
                                    - Evaluación de mapas de colores de formas de superficies curvas, lo que es difícil con las máquinas de medición de contacto.
                                    <br> - Reducción de las horas-hombre de inspección de las máquinas de medición convencionales: Evaluación de mapas de colores a partir de datos dimensionales.
                                    
                                    <br> <br> <strong> 2. Ingeniería inversa </strong> <br>
                                    - Utilizado para copia de molde
                                    <br>: se utiliza para el análisis CAE para confirmar la corrección del moho
                                    
                                    <br> <br> <strong> 3. Reducción de horas-hombre de reparación en trabajos de mantenimiento de moldes </strong> <br>
                                    - Análisis y visualización inmediatos de la cantidad de corrección de moho en obra mediante la función de retroproyección.
                                    
                                    <br> <br> <strong> 4. Medición versátil con sonda táctil </strong> <br>
                                    - La medición puntual es posible insertando una sonda en un orificio o ranura profunda que no se pueda cubrir con un sistema óptico.
                                    (Es posible la inspección de agujeros, círculos, cilindros, planos, posiciones de puntos, etc.)
                                    <br> - Incluso si hay puntos de referencia de molde grandes en la parte inferior y posterior, la medición se completa con menos configuración midiendo con una sonda junto con una sonda sin contacto (superficie superior).
                                    
                                    <br> <br> <strong> 5. Inspección y corrección de la plantilla </strong> <br>
                                    - La función de seguimiento de objetivos permite la inspección y el ajuste in situ de las plantillas utilizadas para la inspección.
                                    
                                    <br> <br> <strong> 6. Mejora de la velocidad de inspección </strong> <br>
                                    - ¡La inspección por muestreo del proceso de producción en masa se acelera aún más gracias al sistema automático de la máquina! Es posible reducir la tasa de errores.
                                    <br> - Los costos de los inspectores también se reducen.
                                    
                                    <br> <br> <strong> 7. Mapeo de texturas </strong> <br>
                                    - Reproducción de pinturas ・ Es posible la conversión de datos digitales de bienes culturales como jarrones y estatuas de Buda
                                </p> 
                                
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/CEv5CL2wRk8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TECHNICAL DATA -->
                <div ng-include="'../../util/ES_showTechnicalDataButton.html'"></div>

                <div class="row" ng-show="productsShowTechnicalData">
                    <div class="content">
                        <div class="col-md-12 img-rounded" style="color: {{ ttsmBlueColor }};">
                            <table class="table table-striped table-condensed">
                                <tr>
                                    <th></th>
                                    <th colspan="2">FLARE Pro</th>
                                    <th colspan="2">FLARE S</th>
                                    <th colspan="2">FLARE E</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="2">
                                        <img src="../../../images/pages/products/camera/flare_1_thumb.jpg" width="100%">
                                    </td>
                                    <td colspan="2">
                                        <img src="../../../images/pages/products/camera/flare_2_thumb.jpg" width="100%">
                                    </td>
                                    <td colspan="2">
                                        <img src="../../../images/pages/products/camera/flare_3_thumb.jpg" width="100%">
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Pixel</strong></td>
                                    <td style="text-align: center;">8M</td>
                                    <td style="text-align: center;">16M</td>
                                    <td style="text-align: center;">5M</td>
                                    <td style="text-align: center;">12M</td>
                                    <td style="text-align: center;">5M</td>
                                    <td style="text-align: center;">8M</td>
                                </tr>
                                <tr>
                                    <td><strong>FOV(mm)</strong></td>
                                    <td style="text-align: center;">65x50 ～ <br>850x700</td>
                                    <td style="text-align: center;">70x50 ～ <br>40x700</td>
                                    <td style="text-align: center;">50x40 ～ <br>1200x750</td>
                                    <td style="text-align: center;">70x55 ～ <br>25x630</td>
                                    <td style="text-align: center;">40x30 ～ <br>500x450</td>
                                    <td style="text-align: center;">80x60 ～ <br>500x400</td>
                                </tr>
                                <tr>
                                    <td><strong>Point distance(μm)</strong></td>
                                    <td style="text-align: center;">20 ～ 256</td>
                                    <td style="text-align: center;">15 ～ 193</td>
                                    <td style="text-align: center;">20 ～ 485</td>
                                    <td style="text-align: center;">17 ～ 201</td>
                                    <td style="text-align: center;">16 ～ 208</td>
                                    <td style="text-align: center;">27 ～ 155</td>
                                </tr>
                                <tr>
                                    <td><strong>Light source</strong></td>
                                    <td style="text-align: center;" colspan="2">White light <br>(red/blue/green 3 colors LED)</td>
                                    <td style="text-align: center;" colspan="2">Blue LED</td>
                                    <td style="text-align: center;" colspan="2">Blue LED</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- INQUIRY -->
                <div ng-include="'../../util/ES_showInquiryButton.html'"></div>

                <div class="row" ng-show="productsShowInquiry">
                    <div class="col-md-12" ng-include="'../../../html/contact/ES_contactForm.html'"></div>
                </div>
            
            </div>
            <!-- SPACE -->
            <div style="height: 10px"></div>

            <!-- footer -->
            <div ng-include="'../../util/ES_footer.html'"></div>
        </div>
    </body>
</html>