<!-- Menu in lhe left side of the CASE Study -->
<table class="table table-hover" style="text-align: right;">
    <tr ng-click="goToCaseStudy( 'EN_caseStudy' )"><td class="btn" style="font-size: 35px; color: {{ ttsmBlueColor }} ">CASE STUDY</td></tr>
    <!--tr ng-click="goToCaseStudy( 'EN_YTec' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 0 ] }}">Y-TEC CORPORATION</td></tr-->
    <!--tr ng-click="goToCaseStudy( 'EN_RinnaiCorporation' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 1 ]}}">RINNAI CORPORATION</td></tr-->
    <!--tr ng-click="goToCaseStudy( 'EN_Tanaka' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 2 ]}}">Tanaka Seimitsu Kogyo Co., Ltd.</td></tr-->
    <tr ng-click="goToCaseStudy( 'EN_Hara' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 3 ]}}">Hara Seisakusho Ltd.</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_Allex' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 4 ]}}">Allex Japan Inc</td></tr>
    <!--tr ng-click="goToCaseStudy( 'EN_Soshin' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 5 ]}}">Soshin Co., Ltd.</td></tr-->
    <tr ng-click="goToCaseStudy( 'EN_Ikegami' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 6 ]}}">Ikegami Mold Engineering Group</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_National' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 7 ]}}">National Institutes for <br> Quantum and Radiological<br>Science and Technology<br>(QST)</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_JapanAtomic' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 8 ]}}">Japan Atomic Energy Agency</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_JapanAerospace' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 9 ]}}">Japan Aerospace <br>Exploration Agency (JAXA)</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_Sivax' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 10 ]}}"> Sivax Inc.</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_STM' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 11 ]}}"> STM Stein-Moser GmbH<br> (Austria)</td></tr>
    <tr ng-click="goToCaseStudy( 'EN_Tokyo' )"><td class="btn" style="font-size: 15px; {{ caseStudyMenuStyle[ 12 ]}}"> Tokyo Tekkotsu Kyoryo<br> Corporation</td></tr>
</table>