<!DOCTYPE html>
<!--
Company:    Tokyo Boeki Techno-System de Mexico S.A. de C.V. 
Programmer: Alejandro Aguayo Acosta
-->
<html>
    <head>
        <title>COMET Automated</title>
        <link rel="icon" href="../../../images/util/icono.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- JQuery -->
        <script src="../../../js/lib/jquery-3.2.1.min.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../../css/bootstrap.min.css">
        <script src="../../../js/lib/bootstrap.min.js"></script>
        
        <!-- SWEET ALERT -->
        <script src="../../../js/lib/sweetalert.min.js"></script>

        <!-- AngularJS libraries -->
        <script src="../../../js/lib/angular.min.js"></script>

        <!-- Controller -->
        <script src="../../../js/mainCtrl.js"></script>
    </head>
    
    <body ng-app="miApp">
        <div ng-controller="mainCtrl"
             ng-init="relativeUrl = '../../../'; 
                        productImageSelected = '../../../images/pages/products/robot/cometAutomated_1.jpg';
                        getCurrentUrl();
                               ">
            
            <div class="container">
            
                <!-- Header -->
                <div ng-include="'../../util/ES_header.html'"></div>

                <!-- SPACE -->
                <div style="height: 4px; background-color: {{ ttsmGrayColor }};" ></div>
                <div style="height: 3px;"></div>

                <!-- ROUTE -->
                <a href="{{relativeUrl}}ES_index.php">HOME</a> / 
                <a href="{{relativeUrl}}html/products/ES_mainProducts.html">PRODUCTS</a> / 
                <a href="{{relativeUrl}}html/products/robot/ES_mainRobot.html">ROBOT</a> / 
                <a href="">COMET Automated</a>  

                <!-- Content -->
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ productImageSelected }}" width="100%">
                        <div class="row" style="height: 10px;"></div>
                        <div class="row">
                            <table>
                                <tr>
                                    <td ng-click="productChangeImage( 'cometAutomated' , 1 )">
                                        <img src="../../../images/pages/products/robot/cometAutomated_1_thumb.jpg" width="100%">
                                    </td>
                                    <td ng-click="productChangeImage( 'cometAutomated' , 2 )">
                                        <img src="../../../images/pages/products/robot/cometAutomated_2_thumb.jpg" width="100%">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-muted"><h1>COMET Automated</h1></div>
                        <p>
                            Maximum efficiency and performance for your automated measurement processes in quality assurance with the new sensor COMET Automated!
                        </p>
                    </div>
                </div>

                <!-- ************************ Content Details ************************ -->
                <!-- DESCRIPTION -->
                <div ng-include="'../../util/ES_showDescriptionButton.html'"></div>

                <div class="row" ng-show="productsShowDescription">
                    <div class="col-md-12" style="color: {{ ttsmBlueColor }}; ">
                        <div class="row">
                            <!-- Left Column -->
                            <div class="col-md-6">
                                <p>
                                    <strong>INNOVATIVE</strong>
                                    <br>COMET Automated uses innovative maintenance-free yet also cost-effective LED lighting technology with a long service life. The high light output generated by the LED pulse mode guarantees excellent measuring results even in difficult ambient conditions. The sensor housing with ZEISS Optotechnik’s proven single-camera technology and the sensor structure specially designed for automation provide effortless access to difficult-to-reach points on single parts through to entire vehicles.	
                                    
                                    <br><br><strong>FAST</strong>
                                    <br>3D data acquisition with the COMET Automated is particularly fast. The sensationally short measurement time and userfriendly software allow efficient measurements.	
                                    
                                    <br><br><strong>IMPRESSIVE PERFORMANCE</strong>
                                    <br>
                                    <ul>
                                        <li>High measurement speed</li>
                                        <li>Short working distance</li>
                                        <li>Large measurement volume</li>
                                        <li>Two positions for the robot flange, on the side, e.g. for measurements in vehicle interiors</li>
                                        <li>Connection to several robot types/manufacturers	</li>
                                    </ul>
                                    
                                    <br><strong>AREAS OF USE</strong>
                                    <br><strong>Quality control / inspection</strong>
                                    <ul>
                                        <li>Initial sampling</li>
                                        <li>Measurements during series production</li>
                                        <li>Production-related inspections</li>
                                    </ul>
                                    <strong>Tool and mould making</strong>
                                    <ul>
                                        <li>Current status determination at tool release</li>
                                    </ul>
                                </p>
                            </div>
                            
                            <!-- Right Column -->
                            <div class="col-md-6">
                                <p>
                                    <strong>SIMPLE</strong>
                                    <br>Equipped with two mounting flanges, COMET Automated can be integrated into all conventional robot systems and easily controlled with the VISIO 7 software irrespective of the area of use. The working distance, specially designed for automated, optical measurements, and the size of the measurement field make it quick and efficient to inspect components with the most diverse shapes and surface properties.
                                    
                                    <br><br><strong>PRECISE</strong>
                                    <br>Delivering excellent data quality and highly accurate results, COMET Automated is also ideal for demanding uses in the field of quality assurance. Intelligent positioning techniques and the photogrammetric camera optionally integrated into the sensor allow measurements on even extremely large objects.
                                    
                                    <br><br><strong>INNOVATIVE HIGH-END TECHNOLOGY</strong>
                                    <ul>
                                        <li>High-end camera</li>
                                        <li>High point resolution</li>
                                        <li>Compact, robust housing</li>
                                        <li>Projector with extremely high light output</li>
                                        <li>High-end precision lenses</li>
                                        <li>Integrated photogrammetry camera with LED lighting (optional)</li>
                                        <li>Collision protection (optional)</li>
                                        <li>Combinable with hand-guided option for Kuka robots</li>
                                    </ul>
                                
                                    <br><strong>TECHNICAL FEATURES</strong>
                                    <ul>
                                        <li>8 megapixel camera</li>
                                        <li>Measurement volume: 600 mm x 450 mm x 400 mm</li>
                                        <li>Point resolution 180 μm</li>
                                        <li>Working distance 700 mm</li>
                                        <li>Optional: integrated 16 megapixel photogrammetry camera</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TECHNICAL DATA -->
                <div ng-include="'../../util/ES_showTechnicalDataButton.html'"></div>

                <div class="row" ng-show="productsShowTechnicalData">
                    <div class="content">
                        <div class="col-md-12 img-rounded" style="color: {{ ttsmBlueColor }}; ">
                    TO DO                        
                        </div>
                    </div>
                </div>

                <!-- INQUIRY -->
                <div ng-include="'../../util/ES_showInquiryButton.html'"></div>

                <div class="row" ng-show="productsShowInquiry">
                    <div class="col-md-12" ng-include="'../../../html/contact/ES_contactForm.html'"></div>
                </div>
            </div>

            <!-- footer -->
            <div ng-include="'../../util/ES_footer.html'"></div>
        </div>
    </body>
</html>