<div class="modal fade" id="modalDownloadBrochure" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="color: white; background-color: {{ ttsmBlueColor }}">Download form</h3>
            </div>
            
            <!-- Form data -->
            <div class="modal-body">
                
                <!-- Subtitulo -->
                <div class="row">
                    <div class="col-md-12">
                        <h4>Please fill the following form</h4>
                    </div>
                </div>
                
                
                <form ng-submit="clicDownloadBrochure()">
                    
                
                
                <!-- Proposito de descargar el brochure -->
                <div class="row">
                    <div class="col-md-10" style="background-color: #d9edf7">
                        <h5 style="color: black;">Purpose of brochure download?</h5>
                    </div>
                    <div class="col-md-2">
                        <label class="label label-warning">Required</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" ng-model="brochureFormData.downloadPurposeA">Currently using similar product
                        <br>
                        <input type="checkbox" ng-model="brochureFormData.downloadPurposeB">Considering the product
                        <br>
                        <input type="checkbox" ng-model="brochureFormData.downloadPurposeC">Considering to purchase the product soon
                        <br>
                        <input type="checkbox" ng-model="brochureFormData.downloadPurposeD">Information gathering
                    </div>
                </div>
                
                <!-- Donde se entero de TTS -->
                <div class="row">
                    <div class="col-md-10" style="background-color: #d9edf7">
                        <h5>Where did you find out about our website?</h5>
                    </div>
                    <div class="col-md-2">
                        <label class="label label-warning">Required</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="Internet search">Internet search (Google, Yahoo, others） 
                        <br>
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="Introduction from TTS staff">Introduction from TTS staff
                        <br>
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="TTS News letter">TTS News letter
                        <br>
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="Event (exhibition, seminars, etc.)">Event (exhibition, seminars, etc.)
                        <br>
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="SNS（Facebook, Twitter, etc.)">SNS（Facebook, Twitter, etc.)
                        <br>
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="YouTube">YouTube
                        <br>
                        <input type="radio" ng-model="brochureFormData.whereDidYouFindUs" value="Others">Others
                        <input type="text" class="input-sm" ng-model="brochureFormData.whereDidYouFindUsOthers">
                    </div>
                </div>
                
                <!-- Informacion personal -->
                <div class="row">
                    <div class="col-md-12">
                        <h5>Personal information</h5>
                    </div>
                </div>
                
                <!-- Nombre -->
                <div class="row">
                    <div class="col-md-10">
                        <input ng-model="brochureFormData.name" class="form-control input-sm" placeholder="Name" >
                    </div>
                    <div class="col-md-2">
                        <label class="label label-warning">Required</label>
                    </div>
                </div>
                
                
                <!-- Compañia -->
                <div class="row">
                    <div class="col-md-10">
                        <input ng-model="brochureFormData.company" class="form-control input-sm" placeholder="Company" >
                    </div>
                    <div class="col-md-2">
                        <label class="label label-warning">Required</label>
                    </div>
                </div>
                
                <!-- E-mail -->
                <div class="row">
                    <div class="col-md-10">
                        <input type="email" required ng-model="brochureFormData.email" class="form-control input-sm" placeholder="e-mail" >
                    </div>
                    <div class="col-md-2">
                        <label class="label label-warning">Required</label>
                    </div>
                </div>
                
                <!-- Telefono -->
                <div class="row">
                    <div class="col-md-10">
                        <input ng-model="brochureFormData.phone" class="form-control input-sm" placeholder="Phone" >
                    </div>
                    <div class="col-md-2">
                        <label class="label label-warning">Required</label>
                    </div>
                </div>
                
                
                <!-- Comment (hiden info, in this field in PHP request is the selecteable info) -->
                <div class="row" ng-show="false">
                    <div class="col-md-10">
                        <textarea ng-model="brochureFormData.comment" class="form-control input-sm" placeholder="Nos gustaría saber más de usted, ¿por qué está interesado en este producto?" ></textarea>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                    <button type="submit" class="btn btn-block btn-info"> Download Brochure </button>
                    <p style="font-size: small">
                        <br>
                        Your personal information will be used only for answers to inquiries, for sending our product/event information, and for necessary procedures for response. We will manage these personal information under appropriate safety measures and we will not disclose / offer to third parties without your consent in advance.
                    </p>
                    
                </form>
            </div>
        </div>
    </div>
</div>