<!--
Company:    Tokyo Boeki Techno-System de Mexico S.A. de C.V. 
Programmer: Alejandro Aguayo Acosta
-->
<!-- MODAL COMPANY -->
<div class="modal fade" id="myCompanyModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ modalText.name }} - {{ modalText.id }}</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><strong>URL:</strong></td>
                        <td><input class="input-sm" ng-model="modalText.webPage"></td>
                    </tr>
                    <tr>
                        <td><strong>Market:</strong></td>
                        <td><input class="input-sm" ng-model="modalText.market"></td>
                    </tr>
                    <tr>
                        <td><strong>Short Name:</strong></td>
                        <td><input class="input-sm" ng-model="modalText.alias"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="clicUpdateButtonModal('company')">Update</button>
            </div>
      </div>
    </div>
</div>