<!DOCTYPE html>
<!--
Company:    Tokyo Boeki Techno-System de Mexico S.A. de C.V. 
Programmer: Alejandro Aguayo Acosta
-->
<html>
    <head>
        <title>Software Products</title>
        <link rel="icon" href="../../../images/util/icono.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- JQuery -->
        <script src="../../../js/lib/jquery-3.2.1.min.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../../css/bootstrap.min.css">
        <script src="../../../js/lib/bootstrap.min.js"></script>
        
        <!-- SWEET ALERT -->
        <script src="../../../js/lib/sweetalert.min.js"></script>

        <!-- AngularJS libraries -->
        <script src="../../../js/lib/angular.min.js"></script>

        <!-- Controller -->
        <script src="../../../js/mainCtrl.js"></script>
    </head>
    
    <body ng-app="miApp">
        <div ng-controller="mainCtrl" ng-init="
            relativeUrl = '../../../';
            getCurrentUrl();
                     ">
            
            <div class="container">

                <!-- Header -->
                <div ng-include="'../../util/EN_header.html'"></div>

                <!-- Horizontal line -->
                <div style="background-color: {{ ttsmBlueColor}}; height: 2px"></div>
                <div style="height: 2px"></div>

                <!-- ROUTE -->
                <a href="{{relativeUrl}}EN_index.php" 
                   style="color:{{ ttsmBlueColor }};">HOME
                </a> / 
                <a href="{{relativeUrl}}html/products/EN_mainProducts.html" 
                   style="color:{{ ttsmBlueColor }};">PRODUCTS
                </a> / 
                <a href="{{relativeUrl}}html/products/software/EN_mainSoftware.html"
                   style="color:{{ ttsmBlueColor }};">SOFTWARE
                </a>

                <!-- Content >
                <h2 style="color:{{ ttsmBlueColor }}; ">Software Main Content</h2-->

                <!-- LIST OF Software PRODUCTS -->
                <!-- UPPER ROW -->
                <div class="row">

                    <!-- Libella Queen -->
                    <div class="col-md-3 text-center">
                        <a href="EN_libellaQueen.html">
                        <img src="../../../images/pages/products/software/libellaQueen_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>Libella Queen</h4>
                                Tokyo Boeki Techno-System metrology software 
                            </div>
                        </a>
                    </div>

                    <!-- PolyWorks Inspector -->
                    <div class="col-md-3 text-center">
                        <a href="EN_polyworksInspector.html">
                        <img src="../../../images/pages/products/software/polyworksInspector_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>PolyWorks Inspector</h4>
                                3D metrology solution to gain control of the entire process
                            </div>
                        </a>
                    </div>

                    <!-- PolyWorks Modeler -->
                    <div class="col-md-3 text-center">
                        <a href="EN_polyworksModeler.html">
                        <img src="../../../images/pages/products/software/polyworksModeler_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>PolyWorks Modeler</h4>
                                Reverse-engineering solutions
                            </div>
                        </a>
                    </div>

                    <!-- spGauge -->
                    <div class="col-md-3 text-center">
                        <a href="EN_spGauge.html">
                        <img src="../../../images/pages/products/software/spGauge_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>spGauge</h4>
                                Product Inspection Tool using Point Cloud & 3D-CAD
                            </div>
                        </a>
                    </div>


                </div>
                <!-- LOWER ROW -->
                <div class="row">
                    
                    <!-- ATS Inspect -->
                    <div class="col-md-3 text-center" ng-click="showUnderConstructionAlert( false )">
                        <!--a href="EN_atsInspect.html"-->
                        <img src="../../../images/pages/products/software/atsInspect_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>ATS Inspect</h4>
                                Solution that visualizes production line quality (OK / NG) in real time and facilitates quality control. 
                            </div>
                        <!--/a-->
                    </div>
                    
                    <!-- ATS cm4d -->
                    <div class="col-md-3 text-center" ng-click="showUnderConstructionAlert( false )">
                        <!--a href="EN_atsInspect.html"-->
                        <img src="../../../images/pages/products/software/atsCm4d_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>ATS cm4d</h4>
                                Converts different data formats for each device and model for analysis and visualization.
                            </div>
                        <!--/a-->
                    </div>
                    
                    <!-- ATS Bus -->
                    <div class="col-md-3 text-center" ng-click="showUnderConstructionAlert( false )">
                        <!--a href="EN_atsInspect.html"-->
                        <img src="../../../images/pages/products/software/atsBus_1.jpg" width="100%">
                            <div class="well well-sm">
                                <h4>ATS Bus</h4>
                                ATS Bus is a solution that can build linkages between equipment and system.
                            </div>
                        <!--/a-->
                    </div>
                    
                </div>

                </div>
            </div>
            
            <!-- footer -->
            <div ng-include="'../../util/EN_footer.html'"></div>
        </div>
    </body>
</html>